{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Accountoverview tabs -->
<div class="container mt-5 card-body">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="account-nav nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true"><i class="fa-solid fa-user"></i> Profile</button>
      <button class="account-nav nav-link" id="nav-bookings-tab" data-bs-toggle="tab" data-bs-target="#nav-bookings" type="button" role="tab" aria-controls="nav-bookings" aria-selected="false"><i class="fa-solid fa-book-bookmark"></i> Bookings</button>
      <button class="account-nav nav-link" id="nav-restaurant-tab" data-bs-toggle="tab" data-bs-target="#nav-restaurant" type="button" role="tab" aria-controls="nav-restaurant" aria-selected="false"><i class="fa-solid fa-utensils"></i> Restaurants</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">{% include "accountpage/accountprofile.html" %}</div>
    <div class="tab-pane fade" id="nav-bookings" role="tabpanel" aria-labelledby="nav-bookings-tab" tabindex="0">{% include "accountpage/accountbookings.html" %}</div>
    <div class="tab-pane fade" id="nav-restaurant" role="tabpanel" aria-labelledby="nav-restaurant-tab" tabindex="0">{% include "accountpage/accountrestaurant.html" %}</div>
  </div>
</div>

{% endblock content %}
