{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid mt-5 md-5">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for restaurant in restaurant_list %}
                <div class="col-md-4">
                    <a href="{% url 'restaurant_detail' restaurant.slug %}" class="restaurant-link">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in restaurant.featured_image.url %}
                                    <img class="card-img-top" src="{% static 'images/defaultimage.jpg' %}" alt="placeholder image">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ restaurant.featured_image.url }}" alt="{{ restaurant.name }}">
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="food-type">{{ restaurant.food_type }}</p>
                                    </div>
                                </div>
                                <h2 class="card-title">{{ restaurant.name }}</h2>
                                <p class="card-text">{{ restaurant.address }} || {{ restaurant.phone_number }}</p>
                                <hr />
                                <p class="card-text h6">{{ restaurant.city }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}