{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <div class="col-12 mt-3 left">
            <div class="row">
                {% for restaurant in restaurant_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in restaurant.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/defaultimage.jpg' %}" alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ restaurant.featured_image.url }}" alt="{{ restaurant.name }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">{{ restaurant.food_type }}</p>
                                </div>
                            </div>
                            <a href="{% url 'restaurant_detail' restaurant.slug %}" class="post-link">
                                <h2 class="card-title">{{ restaurant.name }}</h2>
                                <p class="card-text">{{ restaurant.address }}</p>
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">{{ restaurant.city }}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            
        </div>
    </div>
</div>

{% endblock content %}