{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="restaurant-name">{{ restaurant.name }}</h1>
                <p class="restaurant-foodtype">{{ restaurant.food_type }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/defaultimage.jpg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text">
                    {{ restaurant.about | safe }}
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
            <form id="bookingForm" method="post"
            style="margin-top: 1.3em;">
            {% csrf_token %}
            {{ booking_form | crispy }}
            <button id="submitButton" type="submit"
                class="btn btn-signup btn-lg">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}